.chat{

background: url(https://роблокс.рф/sites/all/themes/roblox_site/images/chat-bg.jpg) no-repeat scroll center center;
  background-size: auto;
background-size: cover;
border-radius: 16px;
margin-top: 100px;
display: flex;
}
.block_chat{
	padding: 26px 16px 26px 28px;
width: calc(100% - 16px - 28px - 262px - 38px - 36px - 1px);
-webkit-flex: 0 0 auto;
flex: 0 0 auto;
position: relative;
display: -webkit-flex;
-webkit-flex-wrap: wrap;


}

.comente span a{
	color: #00C6EE;
text-decoration: underline;    font-weight: bold;
}
.comente span a:hover{
	text-decoration: none;

}
.block_chaT{
	height: 575px;
	overflow-Y: scroll;
	width: 842px;
	overflow-x: hidden;
	  scrollbar-color: blue white; 
	  scrollbar-width:thin;

}

.xz{
	border: 0;
background: none;
max-height: 575px;
height: auto;
overflow: auto;
  overflow-x: auto;
overflow-x: hidden;
padding: 0;
margin: 0 0 0 0;
width: 100%;
-webkit-flex: 0 0 auto;
flex: 0 0 auto;
}
.cs16{overflow: hidden;
width: inherit;
height: inherit;
max-width: inherit;
max-height: inherit;}
.coments{

}
.opaopa{
	box-sizing: inherit !important;
height: 100%;
width: 100%;
max-width: 1px;
position: relative;
float: left;
max-height: 1px;
overflow: hidden;
z-index: -1;
padding: 0;
margin: 0;
pointer-events: none;
flex-grow: inherit;
flex-shrink: 0;
flex-basis: 0;
}
.kek2{
	box-sizing: inherit;
display: block;
opacity: 0;
position: absolute;
top: 0;
left: 0;
height: 1000%;
width: 1000%;
min-height: 1px;
min-width: 1px;
overflow: hidden;
pointer-events: none;
z-index: -1;
}
.global{
		max-width: calc(100% - 48px - 52px);
float: right;

width: auto;
background: #FFFFFF;
border-radius: 8px;  

padding: 10px 15px 10px 16px;
position: relative;background:  #FFF;

}
.avatars{
	float: left;
margin: 0 0 0 8px;
}
.textchat{
	padding: 0 0 0 0;
font-weight: 500;
font-size: 14px;
line-height: 150%;
color: #18191B;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.otvetchat{

position: absolute;
top: 12px;
right: 15px;
cursor: pointer;
background: url(https://роблокс.рф/sites/all/themes/roblox_site/images/message-answer.png) no-repeat scroll 0 center;
width: 12px;
height: 21px;
}
.Iglobal{
	padding-right: 35px;
	margin-left: 13px;
}
.textchat span{
	margin-right: 39px;

}
.mask2{
	direction: inherit;
overflow: hidden;

padding: 0;
margin: 0;
left: 0;
top: 0;
bottom: 0;
right: 0;
width: auto !important;
height: auto !important;
z-index: 0;
}
.scrollchat2{
	direction: inherit;
box-sizing: border-box !important;
position: relative;
display: block;
height: 100%;
width: auto;
max-width: 100%;
max-height: 100%;
scrollbar-width: none;
-ms-overflow-style: none;height: auto;
overflow: hidden scroll;
}
.beforechat{
	content: ' ';
display: table;
}
.block_chaT .coments{
	display: table;
}
.two{
	margin-top: 10px;
}
.leftchat{
	padding: 26px 16px 26px 28px;
width: calc(100% - 16px - 28px - 262px - 38px - 36px - 1px);
-webkit-flex: 0 0 auto;
flex: 0 0 auto;
position: relative;
display: -webkit-flex;
-webkit-flex-wrap: wrap;
display: flex;
flex-wrap: wrap
}
input{
	  border: 0;
  overflow: hidden;
  width: 100%;
  height: 60px;
  background: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #18191B;
  padding: 0 15px 0 15px;
  resize: none;
  margin: 12px 0 60px 0;
  display: inline-block;
  vertical-align: bottom;
}
.textarea{
	background: #FFFFFF;
border: 1px solid rgba(147,147,147,0.4);
box-sizing: border-box;
border-radius: 6px;
position: relative;
margin: 0 0 0 0;
width: 100%;
}
input::placeholder{
	  font-weight: 500;
  font-size: 16px;
  color: #939393;
  opacity: 1;
}
.otss{
	width: 26px;
}
.nik{
	display: inline-block;
vertical-align: middle;
margin: 0 5px 5px 0;
font-weight: bold;
font-size: 14px;
line-height: 150%;
color: #18191B;
}
.dateeee{
	display: inline-block;
vertical-align: middle;
font-weight: 500;
font-size: 12px;
line-height: 150%;
color: #939393;
margin: 0 0 5px 0;
}
.gs{
	position: absolute;
right: 180px;
bottom: 9px;
line-height: 37px;
font-size: 14px;
}
.men{
	display: block;
position: absolute;
bottom: 15px;
right: 144px;
width: 24px;
height: 24px;
cursor: pointer;

top: auto;
}
.tritoch{
	display: block;
width: 30px;
height: 40px;
-webkit-flex: 0 0 auto;
flex: 0 0 auto;
background: url(https://роблокс.рф/sites/all/themes/roblox_site/images/open-info.png) no-repeat scroll center center;
cursor: pointer;
margin-top: 15px;
}
.otpravit{
	display: block;
position: absolute;
width: 100px;
bottom: 9px;
right: 7px;

background: linear-gradient(180deg,#8C69AD 0%,#7956A2 100%);
border-radius: 6px;
padding: 10px 20px 10px 20px;
height: 37px;
font-weight: bold;
font-size: 14px;
line-height: 17px;
border: 0;
cursor: pointer;
color: #fff;
margin: 0 0 0 0;
text-align: center;
min-width: 122px;
}::-webkit-scrollbar {
    width: 0.5em !important;
    scroll-behavior: smooth !important;
}
.rightchat{
	padding: 26px 36px 55px 34px;
border-left: 1px solid #e5e6e9;
width: 266px;
-webkit-flex: 0 0 auto;
flex: 0 0 auto;
}
.bott{
	margin: 0 0 36px 0;
}
.smash{
	font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #18191B;
display: flex;
margin: 0 0 16px 0;
}
.aoaoaoa{
	display: -webkit-flex;
-webkit-align-items: center;
display: flex;
align-items: center;
}
.loxep{
	width: 80px;
height: 80px;
-webkit-flex: 0 0 auto;
flex: 0 0 auto;
margin: 0 16px 0 0;
position: relative;
}
.border-red{
	background: #10A94D;
	border-radius: 50%;
position: absolute;
border: 3px solid #FFFFFF;
background: #DD0006;
width: 18px;
height: 18px;
border-radius: 18px;
cursor: pointer;
margin-left: -40px;
margin-top: 10px;
}
.hoped{
	width: calc(100% - 80px - 16px);
-webkit-flex: 0 0 auto;
flex: 0 0 auto;
}
.hoped2{
	font-weight: bold;
font-size: 18px;
line-height: 20px;
color: #18191B;
}
.joker{
	padding: 20px 0 0 0;
font-weight: bold;
font-size: 12px;
line-height: 17px;
color: #18191B;
}
.skokaroom{
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #18191B;
margin: 0 0 17px 0;
}
.members{
	overflow: auto;
  overflow-x: auto;
overflow-x: hidden;
max-height: 384px;
}
.membersrus{
	display: -webkit-flex;
-webkit-align-items: center;
display: flex;
align-items: center;
margin: 0 0 8px 0;
}
.ava{
	width: 40px;
height: 40px;
-webkit-flex: 0 0 auto;
flex: 0 0 auto;
margin: 0 8px 0 0;
position: relative;
margin-left: -40px;

}
.ava img{
	border-radius: 5000000000px;

	border: 3px solid green;
	position: absolute;
}
.namee{
	width: calc(100% - 40px - 8px);
-webkit-flex: 0 0 auto;
flex: 0 0 auto;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #18191B;
}
.ava{

}
.aboba4{
	margin-left: 40px;
}
.pravills{
	  position: absolute;
  right: 36px;
  bottom: 26px;
  font-size: 14px;
  line-height: 17px;
}
.pravila a{
display: inline-block;
text-decoration: none;
color: #18191B;
padding: 0 16px 0 0;
background: url(https://роблокс.рф/sites/all/themes/roblox_site/images/arrow-right.png) no-repeat scroll right center;
}
.membersss{
	position: absolute;

bottom: 26px;
font-size: 14px;
line-height: 17px;
}
.MEMRUS a{

display: inline-block;
text-decoration: none;
color: #18191B;
padding: 0 16px 0 0;
background: url(https://роблокс.рф/sites/all/themes/roblox_site/images/arrow-right.png) no-repeat scroll right center;
}
#lschatrf{
padding: 26px 16px 26px 28px;
width: calc(100% - 16px - 28px - 262px - 38px - 36px - 1px);
-webkit-flex: 0 0 auto;
flex: 0 0 auto;
position: relative;
display: -webkit-flex;
-webkit-flex-wrap: wrap;
display: flex;
flex-wrap: wrap;

}

.lsmembers{

max-height: 384px;
margin-top: 30px;

}
.nadpis23{
	font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #18191B;
margin: 0 0 16px 0;
}

.comentss1{
	background: none;
padding: 0 46px 0 0;
margin: 0 0 20px 0;
display: flex;
position: relative;
}
.avatr img{
	float: left;
width: 40px;
height: 40px;
border-radius: 20px;
background: #F4F5F8;

position: relative;

}
.kekoi{
	max-width: calc(100% - 40px - 8px - 15px - 16px);
width: auto;
background: #FFFFFF;
border-radius: 8px;
padding: 10px 15px 10px 16px;
position: relative;
margin-left: 8px;

}
.e-data{
	position: relative;
padding-right: 20px;
}
.e-nixk{
	display: inline-block;
vertical-align: middle;
margin: 0 5px 5px 0;
font-weight: bold;
font-size: 14px;
line-height: 150%;
color: #18191B;
}
.e-kake{
	display: inline-block;
vertical-align: middle;
font-weight: 500;
font-size: 12px;
line-height: 150%;
color: #939393;
margin: 0 0 5px 0;
}
.e-comet{
	padding: 0 0 0 0;
font-weight: 500;
font-size: 14px;
line-height: 150%;
color: #18191B;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.e-otvet{
	position: absolute;
top: 10px;
right: 15px;
cursor: pointer;
background: url(https://роблокс.рф/sites/all/themes/roblox_site/images/message-answer.png) no-repeat scroll 0 center;
width: 12px;
height: 21px;
}
.myMessage{
	max-width: calc(100% - 48px - 52px);
float: right;
background: linear-gradient(0deg, rgba(0, 198, 238, 0.16), rgba(0, 198, 238, 0.16)), #FFFFFF;
padding-right: 10px;
margin-right: 10px;
padding-left: 10px;
border-radius: 8px;
position: relative;
}.imgfloatleft{
	float: right;
	position: relative;
height: 40px;
width: 40px;
border: 3px solid red;
border-radius: 50%;
box-shadow: 0 0 10px red, 0 0 10px #ff00007a, 0 0 30px #ff00004f;
}
.imgfloatleft img{
	border-radius: 50%;

}
.vsesoob{
	margin-left: 20px;
}
.message2{
	margin-right: 25px;
}