@media screen and (max-width: 1210px){
	.imggggge img{
		width: 662px;
	}
}
@media screen and (max-width: 1190px){
	.imggggge img{
		width: 642px;
	}
	.textpost{
		width: 643px;
	}
}
@media screen and (max-width: 1170px){
	.imggggge img{
		width: 622px;
	}
	.textpost{
		width: 623px;
	}
}
@media screen and (max-width: 1170px){
	.imggggge img{
		width: 602px;
	}
	.textpost{
		width: 603px;
	}
}
@media screen and (max-width: 1170px){
	.imggggge img{
		width: 618px;
	}
	.textpost{
		width: 619px;
	}
}
@media screen and (max-width: 1170px){
	.imggggge img{
		width: 598px;
	}
	.textpost{
		width: 599px;
	}
}

@media screen and (max-width: 1140px){
	.imggggge img{
		width: 588px;
	}
	.textpost{
		width: 589px;
	}
}

@media screen and (max-width: 1120px){
	.imggggge img{
		width: 568px;
	}
	.textpost{
		width: 569px;
	}
}


@media screen and (max-width: 1100px){
	.imggggge img{
		width: 680px;
	}
	.textpost{
		width: 681px;
	}
	.stc{
		margin-left: 0px;
	}
	.polosha{
		margin-left: 0px;
		width: 682px;
	}
}
@media screen and (max-width: 1080px){
	.imggggge img{
		width: 660px;
	}
	.textpost{
		width: 661px;
	}

}
@media screen and (max-width: 1060px){
	.imggggge img{
		width: 640px;
	}
	.textpost{
		width: 641px;
	}

}
@media screen and (max-width: 1040px){
	.imggggge img{
		width: 620px;
	}
	.textpost{
		width: 621px;
	}

}
@media screen and (max-width: 1020px){
	.imggggge img{
		width: 600px;
	}
	.textpost{
		width: 601px;
	}

}
@media screen and (max-width: 1000px){
	.imggggge img{
		width: 580px;
	}
	.textpost{
		width: 581px;
	}

}
@media screen and (max-width: 980px){
	.imggggge img{
		width: 560px;
	}
	.textpost{
		width: 561px;
	}

}
@media screen and (max-width: 960px){
	.imggggge img{
		width: 540px;
	}
	.textpost{
		width: 541px;
	}

}
@media screen and (max-width: 940px){
	.imggggge img{
		width: 520px;
	}
	.textpost{
		width: 521px;
	}

}.polos{
	width: 682px; padding-bottom: 40px;
border-bottom: 1px solid #E7E8E8; 
}
.topse{
	height: 1500px;
}
@media screen and (max-width: 900px){
	.imggggge img{
		width: 855px;
	}
	.textpost{
		width: 855px;
	}
	.polos{
		width: 855px;
	}
	.polosha{
		width: 855px;
	}
	.node-rate{
		margin-right: 0px;
	}
	.topse{
		height: 0px;
	}
	.
}
@media screen and (max-width: 880px){
	.imggggge img{
		width: 835px;
	}
	.textpost{
		width: 835px;
	}
	.polos{
		width: 835px;
	}
	.polosha{
		width: 835px;
	}

}
@media screen and (max-width: 860px){
	.imggggge img{
		width: 815px;
	}
	.textpost{
		width: 815px;
	}
	.polos{
		width: 815px;
	}
	.polosha{
		width: 815px;
	}

}
@media screen and (max-width: 840px){
	.imggggge img{
		width: 795px;
	}
	.textpost{
		width: 795px;
	}
	.polos{
		width: 795px;
	}
	.polosha{
		width: 795px;
	}

}
@media screen and (max-width: 820px){
	.imggggge img{
		width: 775px;
	}
	.textpost{
		width: 775px;
	}
	.polos{
		width: 775px;
	}
	.polosha{
		width: 775px;
	}

}
@media screen and (max-width: 800px){
	.imggggge img{
		width: 755px;
	}
	.textpost{
		width: 755px;
	}
	.polos{
		width: 755px;
	}
	.polosha{
		width: 755px;
	}

}
@media screen and (max-width: 780px){
	.imggggge img{
		width: 735px;
	}
	.textpost{
		width: 735px;
	}
	.polos{
		width: 735px;
	}
	.polosha{
		width: 735px;
	}

}
@media screen and (max-width: 760px){
	.imggggge img{
		width: 715px;
	}
	.textpost{
		width: 715px;
	}
	.polos{
		width: 715px;
	}
	.polosha{
		width: 715px;
	}

}
@media screen and (max-width: 740px){
	.imggggge img{
		width: 695px;
	}
	.textpost{
		width: 695px;
	}
	.polos{
		width: 695px;
	}
	.polosha{
		width: 695px;
	}

}
@media screen and (max-width: 720px){
	.imggggge img{
		width: 675px;
	}
	.textpost{
		width: 675px;
	}
	.polos{
		width: 675px;
	}
	.polosha{
		width: 675px;
	}

}
@media screen and (max-width: 700px){
	.imggggge img{
		width: 655px;
	}
	.textpost{
		width: 655px;
	}
	.polos{
		width: 655px;
	}
	.polosha{
		width: 655px;
	}
	.opapa{
		width: 610px;
	}

}
@media screen and (max-width: 680px){
	.imggggge img{
		width: 635px;
	}
	.textpost{
		width: 635px;
	}
	.polos{
		width: 635px;
	}
	.polosha{
		width: 635px;
	}

}
@media screen and (max-width: 660px){
	.imggggge img{
		width: 615px;
	}
	.textpost{
		width: 615px;
	}
	.polos{
		width: 615px;
	}
	.polosha{
		width: 615px;
	}.opapa{
		width: 590px;
	}

}
@media screen and (max-width: 640px){
	.imggggge img{
		width: 595px;
	}
	.textpost{
		width: 595px;
	}
	.polos{
		width: 595px;
	}
	.polosha{
		width: 595px;
	}.opapa{
		width: 570px;
	}

}
@media screen and (max-width: 620px){
	.imggggge img{
		width: 575px;
	}
	.textpost{
		width: 575px;
	}
	.polos{
		width: 575px;
	}
	.polosha{
		width: 575px;
	}
.opapa{
		width: 550px;
	}

}
@media screen and (max-width: 600px){
	.imggggge img{
		width: 555px;
	}
	.textpost{
		width: 555px;
	}
	.polos{
		width: 555px;
	}
	.polosha{
		width: 555px;
	}.opapa{
		width: 530px;
	}


}@media screen and (max-width: 580px){
	.imggggge img{
		width: 535px;
	}
	.textpost{
		width: 535px;
	}
	.polos{
		width: 535px;
	}
	.polosha{
		width: 535px;
	}.opapa{
		width: 510px;
	}


}
@media screen and (max-width: 560px){
	.imggggge img{
		width: 515px;
	}
	.textpost{
		width: 515px;
	}
	.polos{
		width: 515px;
	}
	.polosha{
		width: 515px;
	}.opapa{
		width: 490px;
	}


}
@media screen and (max-width: 540px){
	.imggggge img{
		width: 495px;
	}
	.textpost{
		width: 495px;
	}
	.polos{
		width: 495px;
	}
	.polosha{
		width: 495px;
	}.opapa{
		width: 470px;
	}


}
@media screen and (max-width: 520px){
	.imggggge img{
		width: 475px;
	}
	.textpost{
		width: 475px;
	}
	.polos{
		width: 475px;
	}
	.polosha{
		width: 475px;
	}.opapa{
		width: 450px;
	}


}
@media screen and (max-width: 500px){
	.imggggge img{
		width: 455px;
	}
	.textpost{
		width: 455px;
	}
	.polos{
		width: 455px;
	}
	.polosha{
		width: 455px;
	}.opapa{
		width: 450px;
	}


}
@media screen and (max-width: 480px){
	.imggggge img{
		width: 435px;
	}
	.textpost{
		width: 435px;
	}
	.polos{
		width: 435px;
	}
	.polosha{
		width: 435px;
	}.opapa{
		width: 410px;
	}


}
@media screen and (max-width: 460px){
	.imggggge img{
		width: 415px;
	}
	.textpost{
		width: 415px;
	}
	.polos{
		width: 415px;
	}
	.polosha{
		width: 415px;
	}.opapa{
		width: 390px;
	}


}
@media screen and (max-width: 440px){
	.imggggge img{
		width: 395px;
	}
	.textpost{
		width: 395px;
	}
	.polos{
		width: 395px;
	}
	.polosha{
		width: 395px;
	}.opapa{
		width: 370px;
	}


}
@media screen and (max-width: 420px){
	.imggggge img{
		width: 375px;
	}
	.textpost{
		width: 375px;
	}
	.polos{
		width: 375px;
	}
	.polosha{
		width: 375px;
	}.opapa{
		width: 350px;
	}


}
@media screen and (max-width: 400px){
	.imggggge img{
		width: 355px;
	}
	.textpost{
		width: 355px;
	}
	.polos{
		width: 355px;
	}
	.polosha{
		width: 355px;
	}.opapa{
		width: 330px;
	}


}
@media screen and (max-width: 380px){
	.imggggge img{
		width: 335px;
	}
	.textpost{
		width: 335px;
	}
	.polos{
		width: 335px;
	}
	.polosha{
		width: 335px;
	}.opapa{
		width: 310px;
	}


}
@media screen and (max-width: 360px){
	.imggggge img{
		width: 315px;
	}
	.textpost{
		width: 315px;
	}
	.polos{
		width: 315px;
	}
	.polosha{
		width: 315px;
	}.opapa{
		width: 290px;
	}


}
@media screen and (max-width: 350px){
	.imggggge img{
		width: 305px;
	}
	.textpost{
		width: 305px;
	}
	.polos{
		width: 305px;
	}
	.polosha{
		width: 305px;
	}.opapa{
		width: 280px;
	}


}